@model WebApplication4.Models.SurveyQuestion

@{
    ViewBag.Title = "MultipleChoice";
    var SurveyIDs = ViewBag.SurveyID;
    string Quest = ViewBag.Question;

}

<h2>@Quest</h2>


<form method="post">
    @foreach (var item in Model.SurveyMAQs.OrderBy(i => i.ChoiceOrder))
    {

        @item.Text
        <input type="radio">
        <br />


    }
    <input type="submit" value="submit">
</form>