@model WebApplication4.Models.SurveyQuestion

@{
    ViewBag.Title = "MultipleChoice";
    var SurveyIDs = ViewBag.SurveyID;
    string Quest = ViewBag.Question;
    //Added to get letters in front of the answer
    char letter = Convert.ToChar(065);
    var ResponseID = ViewBag.ResponseID;
    string blank = ". ";
}

<h2>@Quest</h2>


<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" , name="responseID" value="@ResponseID" />
    @foreach (var item in Model.SurveyMAQs.OrderBy(i => i.ChoiceOrder))
    {
        <input type="radio" name="Multi">
        @letter
        @blank
        @item.Text

        <br />
        letter++;

    }
    <input type="submit" value="submit">
</form>