@model WebApplication4.Models.SurveyQuestion

@{
    ViewBag.Title = "MultipleAnswer";
    var SurveyIDs = ViewBag.SurveyID;
    string Quest = ViewBag.Question;
}




<h2>@Quest</h2>


    <form method="post">
        @Html.AntiForgeryToken()
        @foreach (var item in Model.SurveyMAQs.OrderBy(i => i.ChoiceOrder))
        {
            
                @item.Text
               <input type="checkbox">
            <br/>

           
        }
        <input type="submit" value="Submit" >
    </form>


    



