@model WebApplication4.Models.SurveyQuestion

@{
    ViewBag.Title = "MultipleAnswer";
    var SurveyIDs = ViewBag.SurveyID;
    string Quest = ViewBag.Question;
    //Added to get letters in front of the answer
    char letter = Convert.ToChar(065);
    string blank = ". ";
}




<h2>@Quest</h2>


<form method="post">
    @Html.AntiForgeryToken()
    @foreach (var item in Model.SurveyMAQs.OrderBy(i => i.ChoiceOrder))
    {
        <input type="checkbox">
        @letter
        @blank
        @item.Text

        <br />
        letter++;

    }
    <input type="submit" value="Submit">
</form>


    



