@model WebApplication4.Models.SurveyQuestion
@{
    ViewBag.Title = "ShortAnswer";
    string Quest = ViewBag.Question;

}

<h2>@Quest</h2>



<form method="post">
    <input type="text" />
    <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
    </form>