@model WebApplication4.Models.SurveyQuestion
@{
    ViewBag.Title = "ShortAnswer";
    string Quest = ViewBag.Question;

}

<h2>@Quest</h2>



<form method="post">
    <input type="text" />
    <input type="submit" value="Submit" />
    </form>