@model WebApplication4.Models.SurveyQuestion
@{
    ViewBag.Title = "ShortAnswer";
}

<h2>ShortAnswer</h2>

@Html.DisplayNameFor(model => model.SurveySAAs)

<textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>

<input type="submit">