@model IEnumerable<WebApplication4.Models.SurveyMCQ>
@{

    var id = ViewBag.QuestionID;

}

<h2>TakeSurvey</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                

            </td>
            <td></td>
        </tr>
    }



</table>
