@model IEnumerable<WebApplication4.Models.SurveyQuestion>
@{

    var id = ViewBag.SurveyID;
    string q = "Questions";
    
}

<h3>TakeSurvey</h3>


<table class="table">
    <tr>
        <th>
            @q
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @{string type = item.TypeEnum.TypeName;}
                @{type = type.Replace(" ","");}
                

                @Html.DisplayFor(modelItem => item.TypeEnum.TypeName)
                @Html.ActionLink("Start", type, new {id = item.QuestionID})


            </td>
           <td>
               
           </td>
        </tr>
    }



</table>